
# This is python packages that is required for some ansible modules
PyYAML
Jinja2
httplib2
xmltodict


# used by dig lookup
dnspython

# AWS python boto
boto
boto3

# WinRM for Windows management
pywinrm
